@media screen and (max-width: 1001px) {
  .language-deckstop {
    display: none !important;
  }
  .user {
    display: none !important;
  }
  .header-menu-deckstop {
    display: none;
  }
  .toggle {
    padding-left: 0;
    display: flex;
  }
  .language-mobile {
    display: block;
    z-index: 1000;
  }
  .header-menu-mobile {
    display: block !important;
  }
  .menu-mobile {
    display: flex !important;
    justify-content: space-around;
    z-index: 1000;
  }
  .header-logo {
    order: 2;
  }
  .header-link-wrapper {
    order: 3;
  }
  .footer-2 .infor {
    padding-left: 0px;
  }
  .customer-service {
    padding-left: 0px;
  }
  .my-accout {
    padding-left: 0px;
  }
  .footer-2 .infor,
  .customer-service,
  .my-accout {
    margin: 0 4%;
  }
}
@media screen and (max-width: 769px) {
  .btn-mobile {
    display: block;
  }
  .banner-dk {
    display: none;
  }
  .section-mobile {
    display: block;
  }
  .footer-2-mb {
    display: block !important;
  }
  .footer-2 {
    display: none !important;
  }
  .network {
    justify-content: center;
  }
  .follow-us {
    padding-bottom: 20px;
  }
  .ft-title {
    padding: 10px 15px;
    margin-bottom: 1px;
    border-bottom: 1px solid #424245;
  }
  .list {
    padding: 10px 15px;
  }
  .list li {
    padding: 10px 0px;
    line-height: 20px;
  }
  .address {
    padding-left: 0px !important;
  }
  footer {
    bottom: 66px;
  }
  .newletter {
    margin-bottom: 50px;
  }
  .nav-product-detail {
    width: 100%;
    flex-wrap: nowrap;
    overflow: scroll;
    margin-bottom: 66px;
    /* min-width: 152px; */
  }
  .title-phu-kien{
    text-align: center;
  }
  .nav-item {
    min-width: 152px;
  }
}
@media screen and (min-width: 769px) {
  .footer-block {
    display: inline-block !important;
  }
  .footer-2 {
    display: none;
  }
  .infor,
  .customer-service,
  .my-accout {
    padding-left: 0px;
    margin: 0 4%;
  }
}
