a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
body {
  background-color: #f4f4f6;
}
/* header */
header {
  position: fixed;
  top: 0%;
  background-color: #515154;
  left: 0;
  right: 0;
  z-index: 2000;
}
.header-logo a img {
  width: 173px;
  height: 45px;
}

.menu-item-deckstop:last-child {
  margin-right: 0;
}
.menu-item-deckstop a {
  display: block;
  padding: 22px 16px;
  color: #d2d2d7;
  font-size: 15px;
  height: 64px;
}
.menu-item-deckstop a:hover {
  background-color: #626265;
}
.header-link-wrapper .menu-link {
  display: block;
  padding: 15px;
  color: #d2d2d7;
  font-size: 22px;
}
.toggle {
  display: none;
  padding: 15px;
  color: #d2d2d7;
  font-size: 32px;
  cursor: pointer;
}
.menu-mobile {
  position: absolute;
  border-bottom: 1px solid #f5f5f7;
  min-height: 48px;
  left: 0;
  right: 0;
  width: 100%;
  background-color: #fff;
}
.menu-item-mobile a {
  display: block;
  padding: 10px 15px;
  color: #363637;
  font-size: 15px;
  /* height: 64px; */
  background-color: #fff;
  /* top: ; */
}
.language-mobile {
  display: none;
}
.menu-toggle-mb {
  background-color: #fff;
  display: none;
  position: absolute;
  border-bottom: 1px solid #f5f5f7;
  min-height: 48px;
  top: 48px;
  box-shadow: 4px 7px 20px;
  width: 100vw;
  min-height: 48px;
  z-index: 1000;
}
.menu-toggle-mb li {
  margin: 8px 20px 0 20px;
}
.menu-toggle-mb li a {
  padding: 6px 0;
  font-size: 15px;
  line-height: 40px;
}
.btn-mobile {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  z-index: 1111;
  background-color: #fff;
  padding: 10px 5px;
  border-radius: 10px 10px 0px 0px;
}
.btn-mobile ul {
  justify-content: space-around;
  text-align: center;
}
.btn-mobile ul li {
  text-align: center;
}
.btn-mobile ul li a {
  text-align: center;
  display: block;
}
.btn-mobile ul li a img {
  text-align: center;
  margin: 0 auto;
  display: block;
  height: 22px;
}
/* section */
.section-deckstop {
  margin-top: 64px;
}
.section-mobile {
  margin-top: 112px;
}
/* directional */
.directional {
  background-color: #fff;
  margin-top: 64px;
  padding: 8px 10px;
}
.directional-list li span {
  padding: 0 5px;
  font-size: 13px;
}
.directional-list li {
  font-size: 13px;
}
/* product */
.item-box {
  text-align: center;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.04);
  padding: 24px 20px 16px 20px;
}
.product-picture img {
  width: inherit;
  margin: 25px 0 20px;
  max-width: 100%;
  max-height: 100%;
}
.product-detail {
  text-align: left;
}
.product-title {
  min-height: 54px;
  margin-bottom: 0;
}
.product-title a {
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
  color: #1d1d1f;
  overflow: hidden;
}
.pager ul li {
  margin-right: 10px;
}
.pager ul li a {
  padding: 8px;
  background-color: #fff;
  border-radius: 8px;
  color: #000000;
}
.pager ul li i {
  padding: 8px;
  background-color: #fff;
  border-radius: 8px;
  color: #000000;
}
.pager ul li span {
  padding: 8px;
  background-color: #0066cc;
  border-radius: 8px;
  color: #fff;
}
.pager {
  margin-top: 50px;
}

/*  */
.topic-block {
  margin-top: 32px;
}
.section-ss {
  padding: 38px 20px;
  background-color: #fff;
  border-radius: 8px;
}
.ss-img img {
  width: 220px;
  /* height: auto; */
  object-fit: contain;
}
.title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  padding-bottom: 20px;
}
.introduct-apple {
  padding: 40px 40px 55px;
  background-color: #fff;
  border-radius: 8px;
  margin-top: 40px;
}
.paragraph-content p {
  margin: 0px;
}
.avatar-review {
  width: 28px;
  height: 28px;
  border-radius: 50%;
}
/* .name-user {

} */

.review-comment {
  margin-top: 35px;
  background-color: #fff;
  border-radius: 8px;
  padding: 16px;
}
.review-content {
  padding: 16px 16px 0 0;
  border-right: 1px solid #ebebeb;
  border-top: 1px solid #ebebeb;
}
.review-cmt-list {
  padding-left: 16px;
}

.newletter {
  margin-top: 86px;
  padding: 50px 0px;
  background-color: #f2f2f2;
}
.heading-new-letter {
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
}
.new-letter-email {
  padding: 16px 20px 10px 20px;
}
.new-letter-email input {
  height: 40px;
  width: 100%;
  max-width: 470px;
  border-radius: 40px 0 0 40px;
  border: unset;
  padding-left: 20px;
}
.new-letter-email button {
  border-radius: 40px;
  background-color: #0066cc;
  margin-left: -52px;
  border: none;
  color: #fff;
  font-size: 12px;
  height: 40px;
  cursor: pointer;
  min-width: 100px;
}
.cart-qty {
  width: 15px;
  height: 15px;
  background-color: #fff;
  border-radius: 50%;
  right: 0;
  top: 12px;
  font-size: 12px;
  text-align: center;
  color: #1d1d1f;
}

/* footer */
footer {
  background-color: #1d1d1f;
  position: relative;
  left: 0;
  right: 0;
  /* bottom: 66px; */
}
.ft-title {
  cursor: pointer;
}
.footer-top {
  padding: 64px 0px 21px;
}
.footer-logo a img {
  width: 173px;
  height: 45px;
}
.infor,
.customer-service,
.my-accout {
  padding-left: 60px;
}
.gt {
  text-align: justify;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #d2d2d7;
  padding: 8px 0px;
}

.list li a {
  color: #86868b;
  font-size: 13px;
}
.ft-title {
  margin-bottom: 15px;
}
.ft-title strong {
  color: #86868b;
}
.my-accout,
.infor {
  width: 40%;
}
/* .customer-service {
  width: 20%;
} */
.seven {
  position: relative;
}
.seven .child-menu {
  display: none;
  position: absolute;
  z-index: 1000;
  background-color: #515154;
  width: 250%;
}
.seven:hover .child-menu {
  display: block;
}
.section-mobile {
  display: none;
}

.topic-block-body ul li .address {
  padding-left: 15px;
}
.topic-block-body ul li span {
  color: #86868b;
  font-size: 13px;
}
.topic-block-body ul li .sdt {
  color: #0066cc;
}
.language-deckstop a img:first-child {
  margin-left: 10px;
}
.language-deckstop {
  padding-right: 0;
}
