@media screen and (max-width: 1001px) {
  header {
    /* max-width: 100%; */
  }
  .language-deckstop {
    display: none !important;
  }
  .user {
    display: none !important;
  }
  .header-menu-deckstop {
    display: none;
  }
  .toggle {
    display: flex;
  }
  .language-mobile {
    display: block;
    z-index: 1000;
  }
  .header-menu-mobile {
    display: block !important;
  }
  .menu-mobile {
    display: flex !important;
    justify-content: space-around;
    z-index: 1000;
  }
  .header-logo {
    order: 2;
  }
  .header-link-wrapper {
    order: 3;
  }
}
@media screen and (max-width: 769px) {
  .btn-mobile {
    display: block;
  }
  .banner-dk {
    display: none;
  }
  .section-mobile {
    display: block;
  }
}
@media screen and (max-width: 769px) {
  .footer-block {
    display: inline-block;
  }
  .follow-us {
    width: 98%;
  }
}
